### Merge de todos os dados num só CSV

In [35]:
# Merge "outer" apanha todas as datas. Quando um não tem cotação ele coloca NaN (Not a Number)

from pathlib import Path
import glob
import pandas as pd
import numpy as np
  
path = r"D:\OneDrive - Instituto Politecnico de Castelo Branco\002_Learning\001_Pos_Graduacao\Ciclo 5 - Projeto Final\ProjetoFinal-PosGraduacaoEngenhariaFinanceira\economic_data"
files = Path(path).glob('*.csv')  # .rglob to get subdirectories

dfs = []
for file in files:
    # Leitura do CSV
    data = pd.read_csv(file)
    
    # Ajuste do nome da coluna de datas para um nome consistente
    if 'DATE' in data.columns:
        data.rename(columns={'DATE': 'Date'}, inplace=True)
    
    if 'date' in data.columns:
        data.rename(columns={'date': 'Date'}, inplace=True)

    data["Date"] = pd.to_datetime(data.Date)

    # Definir a coluna de datas como índice
    data.set_index('Date', inplace=True)
    
    # Adicionar o DataFrame à lista
    dfs.append(data)

# Juntar todos os DataFrames usando o método "outer"
df = pd.concat(dfs, axis=1, join='outer')

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3829 entries, 2010-01-01 to 2024-06-28
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   10yr-2y_euro-area        3702 non-null   float64
 1   10yr-2y_usa              3781 non-null   object
 2   BalanceSheet_euro-area   757 non-null    float64
 3   BalanceSheet_global      756 non-null    float64
 4   BalanceSheet_japan       174 non-null    float64
 5   BalanceSheet_usa         756 non-null    float64
 6   GDP_japan                57 non-null     float64
 7   GDP_usa                  57 non-null     float64
 8   GDP_euro-area            57 non-null     float64
 9   Breakeven_inflation_usa  3781 non-null   object
 10  CPI_euro-area            174 non-null    float64
 11  CPI_japan                173 non-null    float64
 12  CPI_usa                  171 non-null    float64
 13  PMI_euro-area            174 non-null    float64
 14  PMI_japan                174 non-null    float64
 15  PMI_usa                  145 non-null    float64
 16  EURUSD                   174 non-null    float64
 17  JPYUSD                   174 non-null    float64
 18  JPYEUR                   174 non-null    float64
 19  SPY                      174 non-null    float64
 20  QQQ                      174 non-null    float64
 21  EXSA                     174 non-null    float64
 22  JPXN                     174 non-null    float64
dtypes: float64(21), object(2)
memory usage: 717.9+ KB

In [62]:
df = df.loc["2010-01-01":"2024-06-30"]

In [65]:
df_mensal = df.resample("M").last()
df_mensal = df_mensal.dropna(how="all").ffill()
df_mensal.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 174 entries, 2010-01-31 to 2024-06-30
Freq: ME
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   10yr-2y_euro-area        174 non-null    float64
 1   10yr-2y_usa              174 non-null    object
 2   BalanceSheet_euro-area   174 non-null    float64
 3   BalanceSheet_global      174 non-null    float64
 4   BalanceSheet_japan       174 non-null    float64
 5   BalanceSheet_usa         174 non-null    float64
 6   GDP_japan                174 non-null    float64
 7   GDP_usa                  174 non-null    float64
 8   GDP_euro-area            174 non-null    float64
 9   Breakeven_inflation_usa  174 non-null    object
 10  CPI_euro-area            174 non-null    float64
 11  CPI_japan                174 non-null    float64
 12  CPI_usa                  174 non-null    float64
 13  PMI_euro-area            174 non-null    float64
 14  PMI_japan                174 non-null    float64
 15  PMI_usa                  145 non-null    float64
 16  EURUSD                   174 non-null    float64
 17  JPYUSD                   174 non-null    float64
 18  JPYEUR                   174 non-null    float64
 19  SPY                      174 non-null    float64
 20  QQQ                      174 non-null    float64
 21  EXSA                     174 non-null    float64
 22  JPXN                     174 non-null    float64
dtypes: float64(21), object(2)
memory usage: 32.6+ KB

C:\Users\Rui Caseiro\AppData\Local\Temp\ipykernel_21884\292051904.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df_mensal = df.resample("M").last()

In [ ]:
#df["10yr-2y_usa"]=df["10yr-2y_usa"].astype(float) #"Breakeven_inflation_usa"
#df_mensal["Breakeven_inflation_usa"]=df_mensal["Breakeven_inflation_usa"].astype(float)

In [43]:
#df_mensal.to_csv(f"df_mensal.csv", date_format='%Y-%m-%d')

In [69]:
opencsv = pd.read_csv(r'D:\OneDrive - Instituto Politecnico de Castelo Branco\002_Learning\001_Pos_Graduacao\Ciclo 5 - Projeto Final\ProjetoFinal-PosGraduacaoEngenhariaFinanceira\df_mensal.csv', delimiter=',')
opencsv.set_index('Date', inplace=True)
#opencsv = opencsv.ffill() # GDP no good
opencsv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 174 entries, 2010-01-31 to 2024-06-30
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   10yr-2y_euro-area        174 non-null    float64
 1   10yr-2y_usa              174 non-null    object
 2   BalanceSheet_euro-area   174 non-null    float64
 3   BalanceSheet_global      174 non-null    float64
 4   BalanceSheet_japan       174 non-null    float64
 5   BalanceSheet_usa         174 non-null    float64
 6   GDP_japan                57 non-null     float64
 7   GDP_usa                  57 non-null     float64
 8   GDP_euro-area            57 non-null     float64
 9   Breakeven_inflation_usa  174 non-null    object
 10  CPI_euro-area            174 non-null    float64
 11  CPI_japan                173 non-null    float64
 12  CPI_usa                  171 non-null    float64
 13  PMI_euro-area            174 non-null    float64
 14  PMI_japan                174 non-null    float64
 15  PMI_usa                  145 non-null    float64
 16  EURUSD                   174 non-null    float64
 17  JPYUSD                   174 non-null    float64
 18  JPYEUR                   174 non-null    float64
 19  SPY                      174 non-null    float64
 20  QQQ                      174 non-null    float64
 21  EXSA                     174 non-null    float64
 22  JPXN                     174 non-null    float64
dtypes: float64(21), object(2)
memory usage: 32.6+ KB

In [70]:
opencsv

,10yr-2y_euro-area,10yr-2y_usa,BalanceSheet_euro-area,BalanceSheet_global,BalanceSheet_japan,BalanceSheet_usa,GDP_japan,GDP_usa,GDP_euro-area,Breakeven_inflation_usa,...,PMI_euro-area,PMI_japan,PMI_usa,EURUSD,JPYUSD,JPYEUR,SPY,QQQ,EXSA,JPXN
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-31,2.415,2.81,1877655.0,11695.0566,1224342.0,2246886.0,501471.4,14764.610,2695667.0,2.33,...,52.4,53.8,NaN,1.387694,0.011083,0.007980,82.042763,37.488388,17.536154,33.224644
2010-02-28,2.463,2.80,1889017.0,11704.4023,1267675.0,2286127.0,NaN,NaN,NaN,2.13,...,54.2,52.5,NaN,1.363791,0.011250,0.008250,84.602051,39.214317,17.486795,33.479210
2010-03-31,2.410,2.82,1894898.0,11815.4072,1218241.0,2307150.0,NaN,NaN,NaN,2.24,...,56.6,53.8,NaN,1.350804,0.010693,0.007910,89.384529,42.193047,18.826513,35.207157
2010-04-30,2.385,2.72,1956819.0,11828.0071,1142013.0,2330472.0,504976.6,14980.193,2729884.8,2.40,...,57.6,53.5,NaN,1.329805,0.010658,0.008010,91.141090,43.185291,18.579716,34.628601
2010-05-31,2.429,.,2088450.0,11777.3199,1209586.0,2334041.0,NaN,NaN,NaN,.,...,55.8,54.7,NaN,1.228788,0.010966,0.008920,83.899483,39.992886,17.733585,31.974955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-29,-0.421,-0.39,6830940.0,23314.4918,7604307.0,7567807.0,NaN,NaN,NaN,2.33,...,46.5,47.2,52.2,1.083882,0.006638,0.006122,504.877472,437.724548,48.200256,72.026001
2024-03-31,-0.438,.,6619689.0,23270.8911,7564231.0,7484739.0,NaN,NaN,NaN,.,...,46.1,48.2,51.9,1.080147,0.006608,0.006117,519.773010,442.720001,50.102638,74.376938
2024-04-30,-0.360,-0.35,6598860.0,23246.3192,7583199.0,7402434.0,NaN,NaN,NaN,2.41,...,45.7,49.6,50.0,1.071570,0.006397,0.005967,500.365784,423.916199,49.778606,70.667015
2024-05-31,-0.318,-0.38,6560665.0,23330.1480,7610851.0,7284319.0,NaN,NaN,NaN,2.35,...,47.3,50.4,51.3,1.083541,0.006371,0.005882,525.674133,449.994751,51.478413,72.462463
2024-06-30,-0.297,-0.35,6522003.0,23510.8797,7536709.0,7231163.0,NaN,NaN,NaN,2.28,...,45.8,50.0,51.6,1.072156,0.006216,0.005797,542.469910,478.349670,50.272736,71.728409

In [67]:
dados = opencsv.pct_change()
dados

TypeError: unsupported operand type(s) for /: 'str' and 'str'