In [1]:
# Importacao das libraries
import pandas as pd
import yfinance as yf
import functions as main
import numpy as np

import warnings
warnings.filterwarnings('ignore')

# Download Data

### Preço Bitcoin -> Crypto Compare

In [ ]:
import urllib
import requests

# Load Bitcoin Prices into a dataframe
# Ticker is customizable
ticker = "BTC"
# Cryptocompare URL and fiels
base_url = 'https://min-api.cryptocompare.com/data/histoday'
ticker_field = 'fsym'
field_dict = {'tsym': 'USD','allData': 'true'}
# Convert the field dict into a url encoded string
url_args = "&" + urllib.parse.urlencode(field_dict)
ticker = ticker.upper()
globalURL = (base_url + "?" + ticker_field + "=" + ticker + url_args)

# Request the data
resp = requests.get(url=globalURL)
data = resp.json()
data["Response"]

# Parse the JSON into a Pandas DataFrame
try:
    df = pd.DataFrame.from_dict(data['Data'])
    df = df.rename(columns={'time': 'date'})
    df['date'] = pd.to_datetime(df['date'], unit='s')
    df.set_index('date', inplace=True)
    df_save = df[['close', 'open', 'high', 'low']]
except Exception as e:
    print(e)
    df_save = None

In [ ]:
df.rename(columns={"close":"Bitcoin_USD"}, inplace=True)
df

,high,low,open,volumefrom,volumeto,Bitcoin_USD,conversionType,conversionSymbol
date,,,,,,,,
2010-07-17,0.04951,0.04951,0.04951,20.00,9.902000e-01,0.04951,direct,
2010-07-18,0.08585,0.04951,0.04951,75.01,5.092000e+00,0.08584,direct,
2010-07-19,0.09307,0.07723,0.08584,574.00,4.966000e+01,0.08080,direct,
2010-07-20,0.08181,0.07426,0.08080,262.00,2.059000e+01,0.07474,direct,
2010-07-21,0.07921,0.06634,0.07474,575.00,4.226000e+01,0.07921,direct,
...,...,...,...,...,...,...,...,...
2024-08-04,61075.03000,57174.97000,60679.28000,28092.97,1.665781e+09,58135.89000,direct,
2024-08-05,58275.19000,49202.81000,58135.89000,117153.32,6.220425e+09,54031.82000,direct,
2024-08-06,57077.92000,53987.77000,54031.82000,44255.76,2.473716e+09,56057.67000,direct,
2024-08-07,57753.96000,54580.16000,56057.67000,39691.91,2.232435e+09,55130.45000,direct,
2024-08-08,59877.75000,54751.57000,55130.45000,32892.21,1.903869e+09,59467.24000,direct,

In [ ]:
# Guardar Preços BTC
df.Bitcoin_USD.to_csv(f'BTC_quotes.csv', date_format='%Y-%m-%d')

### Macro Economic Data

In [5]:
tickers = ["EURUSD=X", "JPYUSD=X", "JPYEUR=X", "SPY", "QQQ", "EXSA.DE", "JPXN", "IWDA.AS", "GLD", "SLV", "TLT", "BND"]

# Análise personalizada
start_date = '2009-12-31'
end_date = '2024-08-01'

In [6]:
# Download das cotacoes Yahoo Finance
quotes_mensal = main.download_yahoo_data(tickers, start=start_date, end=end_date)

In [7]:
quotes_mensal

,EURUSD=X,JPYUSD=X,JPYEUR=X,SPY,QQQ,EXSA.DE,JPXN,IWDA.AS,GLD,SLV,TLT,BND
Date,,,,,,,,,,,,
2009-12-31,1.432706,0.010763,0.007510,85.136841,40.081650,NaN,32.661507,18.070000,107.309998,16.540001,60.371155,51.982368
2010-01-01,1.438994,0.010762,0.007470,85.136841,40.081650,NaN,32.661507,18.070000,107.309998,16.540001,60.371155,51.982368
2010-01-04,1.442398,0.010811,0.007500,86.580742,40.668636,18.290625,33.533207,18.240000,109.800003,17.230000,60.317421,52.041924
2010-01-05,1.436596,0.010919,0.007600,86.809929,40.668636,18.304726,33.741486,18.280001,109.699997,17.510000,60.706982,52.194065
2010-01-06,1.440403,0.010828,0.007520,86.871025,40.423336,18.332928,33.934349,18.320000,111.510002,17.860001,59.894314,52.174175
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-25,1.083952,0.006498,0.005991,538.409973,458.269989,50.639999,72.349998,93.559998,218.330002,25.410000,91.963440,72.428650
2024-07-26,1.085128,0.006506,0.005995,544.440002,462.970001,51.049999,73.260002,93.745003,220.630005,25.480000,92.681046,72.717766
2024-07-29,1.085376,0.006488,0.005974,544.760010,463.899994,50.910000,73.510002,93.919998,220.320007,25.440001,93.179382,72.807487
2024-07-30,1.081947,0.006501,0.006005,542.000000,457.529999,51.130001,73.500000,93.995003,222.520004,25.830000,93.538193,72.897217
2024-07-31,1.081607,0.006550,0.006054,550.809998,471.070007,51.549999,75.860001,95.389999,226.550003,26.389999,94.494995,73.295998

In [10]:
# Guardar Dados Yahoo Finance
quotes_mensal.to_csv(f'{tickers}_quotes.csv', date_format='%Y-%m-%d')

### On-Chain Supply and Demand

In [4]:
import requests

# Request the data
resp = requests.get( url= "https://api.blockchain.info/stats")
data = resp.json()
data

# Estas sao as variaveis que consigo extrair da API

{'timestamp': 1719811161000.0,
 'market_price_usd': 63235.23,
 'hash_rate': 8319039700.034728,
 'total_fees_btc': -625000000,
 'n_btc_mined': 625000000,
 'n_tx': 10965,
 'n_blocks_mined': 2,
 'minutes_between_blocks': 2.0,
 'totalbc': 1971897812500000,
 'n_blocks_total': 850073,
 'estimated_transaction_volume_usd': 7740626.819974123,
 'blocks_size': 3288235,
 'miners_revenue_usd': 0.0,
 'nextretarget': 850751,
 'difficulty': 83675262295059,
 'estimated_btc_sent': 12241003662,
 'miners_revenue_btc': 0,
 'total_btc_sent': 101608128522,
 'trade_volume_btc': 3147.87,
 'trade_volume_usd': 199056283.4601}

In [5]:
data["hash_rate"]

8319039700.034728

In [6]:
data["timestamp"]

1719811161000.0

In [3]:
import requests

# Documentacao API
# https://www.blockchain.com/pt/explorer/api/charts_api

# Cryptocompare URL and fiels
base_url = 'https://api.blockchain.info/charts/'


# Nome dos charts no final do link
# https://www.blockchain.com/explorer/charts/difficulty

#charts_list = ["n-transactions", "difficulty", "n-unique-addresses", "estimated-transaction-volume-usd", "total-bitcoins", "market-price"]

for chart in charts_list:
    chartname = chart
    timespan = "all" # (for example '1year', '3months', etc..) Available time units are: minute, hour, day, week and year.
    start = "2010-01-01"
    data_format = "csv"

    # EXAMPLE FULL LINK REQUEST
    # https://api.blockchain.info/charts/transactions-per-second?timespan=5weeks&rollingAverage=8hours&format=json

    # Join URL components
    globalURL = (base_url + chartname + "?timespan=" + timespan + "&start=" + start + "&format=" + data_format + "&sampled=false")

    # Request the data
    response = requests.get(globalURL)

    # Check if the request was successful
    if response.status_code == 200:
        # Save the data to a CSV file
        with open(f'{chartname}.csv', 'wb') as file:
            file.write(response.content)
        print(f"Data saved successfully to '{chartname}.csv'.")
    else:
        print(f"Failed to retrieve data. Status code: {response.status_code}")

Data saved successfully to 'market-price.csv'.

Full Time Series Example : Time Series Talk
https://www.youtube.com/watch?v=tjfqfDAqtR4

# Transform cluttered data

### Merge de todos os dados Macro num só CSV

In [19]:
from pathlib import Path
import glob

path = r"D:\OneDrive - Instituto Politecnico de Castelo Branco\002_Learning\001_Pos_Graduacao\Ciclo 5 - Projeto Final\ProjetoFinal-PosGraduacaoEngenhariaFinanceira\variables_data"
files = Path(path).glob('*.csv')  # .rglob to get subdirectories

dfs = []
for file in files:
    # Leitura do CSV
    data = pd.read_csv(file)
    
    # Ajuste do nome da coluna de datas para um nome consistente
    if 'DATE' in data.columns:
        data.rename(columns={'DATE': 'Date'}, inplace=True)
    
    if 'date' in data.columns:
        data.rename(columns={'date': 'Date'}, inplace=True)

    data["Date"] = pd.to_datetime(data.Date)

    # Definir a coluna de datas como índice
    data.set_index('Date', inplace=True)
    
    # Adicionar o DataFrame à lista
    dfs.append(data)

# Juntar todos os DataFrames usando o método "outer"
df = pd.concat(dfs, axis=1, join='outer')

In [20]:
df_daily = df_daily.resample("D").last()

In [21]:
df_daily.head(15)

,BTC_Search,BTC_USD,Mining_Difficulty,USD_OnChain_Volume,M2_Liquidity,EUR_USD,JPY_USD,JPY_EUR,SPY,QQQ,...,IWDA,GLD,SLV,TLT,BND,Nr_Transactions,Nr_Addresses,BTC_PageViews,Crypto_PageViews,BTC_Supply
Date,,,,,,,,,,,,,,,,,,,,,
2004-01-01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-02,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-03,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-04,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-05,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-06,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-07,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-08,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-09,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-10,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-11,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-12,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-13,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-14,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-15,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_daily.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7527 entries, 2004-01-01 to 2024-08-09
Freq: D
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BTC_Search          248 non-null    object
 1   BTC_USD             5137 non-null   float64
 2   Mining_Difficulty   5334 non-null   float64
 3   USD_OnChain_Volume  5075 non-null   float64
 4   M2_Liquidity        758 non-null    float64
 5   EUR_USD             3805 non-null   float64
 6   JPY_USD             3805 non-null   float64
 7   JPY_EUR             3805 non-null   float64
 8   SPY                 3805 non-null   float64
 9   QQQ                 3805 non-null   float64
 10  EXSA                3803 non-null   float64
 11  JPXN                3805 non-null   float64
 12  IWDA                3805 non-null   float64
 13  GLD                 3805 non-null   float64
 14  SLV                 3805 non-null   float64
 15  TLT                 3805 non-null   float64
 16  BND                 3805 non-null   float64
 17  Nr_Transactions     5334 non-null   float64
 18  Nr_Addresses        5319 non-null   float64
 19  BTC_PageViews       3327 non-null   float64
 20  Crypto_PageViews    3327 non-null   float64
 21  BTC_Supply          5335 non-null   float64
dtypes: float64(21), object(1)
memory usage: 1.3+ MB

In [8]:
df_daily_mod = df_daily.loc["2010-01-01":"2024-07-31"]
df_daily_mod

,BTC_Search,BTC_USD,Mining_Difficulty,USD_OnChain_Volume,M2_Liquidity,EUR_USD,JPY_USD,JPY_EUR,SPY,QQQ,...,IWDA,GLD,SLV,TLT,BND,Nr_Transactions,Nr_Addresses,BTC_PageViews,Crypto_PageViews,BTC_Supply
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-01,<1,NaN,1.182900e+00,NaN,NaN,1.438994,0.010762,0.007470,85.136841,40.081650,...,18.070000,107.309998,16.540001,60.371155,51.982368,133.0,133.0,NaN,NaN,1.631050e+06
2010-01-02,None,NaN,1.182900e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,127.0,127.0,NaN,NaN,1.637400e+06
2010-01-03,None,NaN,1.182900e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,186.0,186.0,NaN,NaN,1.646700e+06
2010-01-04,None,NaN,1.182900e+00,NaN,8534.2,1.442398,0.010811,0.007500,86.580742,40.668636,...,18.240000,109.800003,17.230000,60.317421,52.041924,183.0,184.0,NaN,NaN,1.655750e+06
2010-01-05,None,NaN,1.182900e+00,NaN,NaN,1.436596,0.010919,0.007600,86.809929,40.668636,...,18.280001,109.699997,17.510000,60.706982,52.194065,198.0,198.0,NaN,NaN,1.665650e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-27,None,67904.55,8.204773e+13,4.232976e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,445730.0,508959.0,8248.0,33.0,1.973205e+07
2024-07-28,None,68252.75,8.204773e+13,2.767697e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,753703.0,431944.0,8037.0,32.0,1.973251e+07
2024-07-29,None,66782.78,8.204773e+13,9.902660e+09,NaN,1.085376,0.006488,0.005974,544.760010,463.899994,...,93.919998,220.320007,25.440001,93.179382,72.807487,826129.0,543529.0,6953.0,56.0,1.973307e+07
2024-07-30,None,66180.04,8.204773e+13,1.511938e+10,NaN,1.081947,0.006501,0.006005,542.000000,457.529999,...,93.995003,222.520004,25.830000,93.538193,72.897217,683096.0,500916.0,5587.0,60.0,1.973354e+07
2024-07-31,None,64617.83,8.748795e+13,9.602772e+09,NaN,1.081607,0.006550,0.006054,550.809998,471.070007,...,95.389999,226.550003,26.389999,94.494995,73.295998,562819.0,542141.0,4801.0,38.0,1.973398e+07

In [9]:
df_daily_mod.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5326 entries, 2010-01-01 to 2024-07-31
Freq: D
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BTC_Search          175 non-null    object
 1   BTC_USD             5129 non-null   float64
 2   Mining_Difficulty   5326 non-null   float64
 3   USD_OnChain_Volume  5067 non-null   float64
 4   M2_Liquidity        757 non-null    float64
 5   EUR_USD             3804 non-null   float64
 6   JPY_USD             3804 non-null   float64
 7   JPY_EUR             3804 non-null   float64
 8   SPY                 3804 non-null   float64
 9   QQQ                 3804 non-null   float64
 10  EXSA                3803 non-null   float64
 11  JPXN                3804 non-null   float64
 12  IWDA                3804 non-null   float64
 13  GLD                 3804 non-null   float64
 14  SLV                 3804 non-null   float64
 15  TLT                 3804 non-null   float64
 16  BND                 3804 non-null   float64
 17  Nr_Transactions     5326 non-null   float64
 18  Nr_Addresses        5311 non-null   float64
 19  BTC_PageViews       3319 non-null   float64
 20  Crypto_PageViews    3319 non-null   float64
 21  BTC_Supply          5326 non-null   float64
dtypes: float64(21), object(1)
memory usage: 957.0+ KB

In [10]:
df_daily_mod.to_csv(f"df_daily.csv", date_format='%Y-%m-%d')

# Load Cluttered Data

In [12]:
opencsv = pd.read_csv("https://raw.githubusercontent.com/notp1ssed/ProjetoFinal-PosGraduacaoEngenhariaFinanceira/main/df_daily.csv", sep=",")
opencsv.set_index('Date', inplace=True)
opencsv.index = pd.to_datetime(opencsv.index)
#opencsv = opencsv.astype(float)

In [13]:
opencsv

,BTC_Search,BTC_USD,Mining_Difficulty,USD_OnChain_Volume,M2_Liquidity,EUR_USD,JPY_USD,JPY_EUR,SPY,QQQ,...,IWDA,GLD,SLV,TLT,BND,Nr_Transactions,Nr_Addresses,BTC_PageViews,Crypto_PageViews,BTC_Supply
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-01,<1,NaN,1.182900e+00,NaN,NaN,1.438994,0.010762,0.007470,85.136841,40.081650,...,18.070000,107.309998,16.540001,60.371155,51.982368,133.0,133.0,NaN,NaN,1.631050e+06
2010-01-02,NaN,NaN,1.182900e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,127.0,127.0,NaN,NaN,1.637400e+06
2010-01-03,NaN,NaN,1.182900e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,186.0,186.0,NaN,NaN,1.646700e+06
2010-01-04,NaN,NaN,1.182900e+00,NaN,8534.2,1.442398,0.010811,0.007500,86.580742,40.668636,...,18.240000,109.800003,17.230000,60.317421,52.041924,183.0,184.0,NaN,NaN,1.655750e+06
2010-01-05,NaN,NaN,1.182900e+00,NaN,NaN,1.436596,0.010919,0.007600,86.809929,40.668636,...,18.280001,109.699997,17.510000,60.706982,52.194065,198.0,198.0,NaN,NaN,1.665650e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-27,NaN,67904.55,8.204773e+13,4.232976e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,445730.0,508959.0,8248.0,33.0,1.973205e+07
2024-07-28,NaN,68252.75,8.204773e+13,2.767697e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,753703.0,431944.0,8037.0,32.0,1.973251e+07
2024-07-29,NaN,66782.78,8.204773e+13,9.902660e+09,NaN,1.085376,0.006488,0.005974,544.760010,463.899994,...,93.919998,220.320007,25.440001,93.179382,72.807487,826129.0,543529.0,6953.0,56.0,1.973307e+07
2024-07-30,NaN,66180.04,8.204773e+13,1.511938e+10,NaN,1.081947,0.006501,0.006005,542.000000,457.529999,...,93.995003,222.520004,25.830000,93.538193,72.897217,683096.0,500916.0,5587.0,60.0,1.973354e+07
2024-07-31,NaN,64617.83,8.748795e+13,9.602772e+09,NaN,1.081607,0.006550,0.006054,550.809998,471.070007,...,95.389999,226.550003,26.389999,94.494995,73.295998,562819.0,542141.0,4801.0,38.0,1.973398e+07

In [14]:
opencsv.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5326 entries, 2010-01-01 to 2024-07-31
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BTC_Search          175 non-null    object
 1   BTC_USD             5129 non-null   float64
 2   Mining_Difficulty   5326 non-null   float64
 3   USD_OnChain_Volume  5067 non-null   float64
 4   M2_Liquidity        757 non-null    float64
 5   EUR_USD             3804 non-null   float64
 6   JPY_USD             3804 non-null   float64
 7   JPY_EUR             3804 non-null   float64
 8   SPY                 3804 non-null   float64
 9   QQQ                 3804 non-null   float64
 10  EXSA                3803 non-null   float64
 11  JPXN                3804 non-null   float64
 12  IWDA                3804 non-null   float64
 13  GLD                 3804 non-null   float64
 14  SLV                 3804 non-null   float64
 15  TLT                 3804 non-null   float64
 16  BND                 3804 non-null   float64
 17  Nr_Transactions     5326 non-null   float64
 18  Nr_Addresses        5311 non-null   float64
 19  BTC_PageViews       3319 non-null   float64
 20  Crypto_PageViews    3319 non-null   float64
 21  BTC_Supply          5326 non-null   float64
dtypes: float64(21), object(1)
memory usage: 957.0+ KB

In [ ]:
opencsv.describe()

,BTC_USD,Mining_Difficulty,USD_OnChain_Volume,M2_Liquidity,EUR_USD,JPY_USD,JPY_EUR,SPY,QQQ,EXSA,...,IWDA,GLD,SLV,TLT,BND,Nr_Transactions,Nr_Addresses,BTC_PageViews,Crypto_PageViews,BTC_Supply
count,5116.000000,5.116000e+03,5.067000e+03,727.000000,3654.000000,3654.000000,3654.000000,3654.000000,3654.000000,3654.000000,...,3654.000000,3654.000000,3654.000000,3654.000000,3654.000000,5116.000000,5.103000e+03,3319.000000,3319.000000,5.116000e+03
mean,12212.483554,1.296026e+13,1.523123e+09,14616.675928,1.188021,0.009397,0.008109,247.341031,175.871173,30.867019,...,46.390665,145.176371,20.796390,102.001497,67.041077,205696.673573,3.902014e+05,14064.816210,59.318771,1.503434e+07
std,17880.898316,2.074851e+13,2.424256e+09,4277.567834,0.112504,0.001684,0.014323,122.098763,118.229845,8.900925,...,20.193728,27.307546,6.185133,20.049567,6.568480,149592.009982,2.623529e+05,19819.296585,49.608451,4.309080e+06
min,0.057000,2.442132e+02,4.695138e+02,8579.800000,0.959619,0.006187,0.005709,81.107704,38.263348,15.293895,...,17.825001,100.500000,11.210000,61.882854,54.462906,260.000000,2.900000e+02,3549.000000,6.000000,3.561700e+06
25%,232.715000,2.193848e+09,4.410484e+07,11129.700000,1.098397,0.008489,0.007325,152.304001,79.646452,24.071136,...,28.492500,121.169998,15.900000,89.108334,61.738316,61957.500000,1.287435e+05,6411.500000,28.000000,1.232675e+07
50%,2868.260000,8.602220e+11,4.612315e+08,13613.700000,1.152671,0.009142,0.007751,217.634354,136.347908,30.682894,...,43.564999,139.044998,19.350000,99.750458,66.843525,225648.500000,4.496300e+05,8840.000000,43.000000,1.648008e+07
75%,18487.212500,1.867020e+13,2.016843e+09,19317.600000,1.290447,0.009842,0.008337,356.979149,278.775017,36.979153,...,61.804999,167.677494,23.540001,109.163729,71.013323,298262.000000,6.150035e+05,13797.000000,75.000000,1.861439e+07
max,73118.090000,8.810420e+13,2.512615e+10,22048.800000,1.484406,0.013203,0.871900,564.859985,502.959991,52.249252,...,96.485001,228.289993,47.259998,155.073227,80.306870,927010.000000,1.072862e+06,344686.000000,677.000000,1.973398e+07

In [ ]:
#dados_diario = opencsv
#dados_semanal = dados_diario.resample('W-FRI').last() # close semanal à sexta feira

In [ ]:
dados_semanal.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 732 entries, 2010-07-30 to 2024-08-02
Freq: W-FRI
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BTC_USD             732 non-null    float64
 1   Mining_Difficulty   732 non-null    float64
 2   USD_OnChain_Volume  725 non-null    float64
 3   M2_Liquidity        727 non-null    float64
 4   EUR_USD             732 non-null    float64
 5   JPY_USD             732 non-null    float64
 6   JPY_EUR             732 non-null    float64
 7   SPY                 732 non-null    float64
 8   QQQ                 732 non-null    float64
 9   EXSA                732 non-null    float64
 10  JPXN                732 non-null    float64
 11  IWDA                732 non-null    float64
 12  GLD                 732 non-null    float64
 13  SLV                 732 non-null    float64
 14  TLT                 732 non-null    float64
 15  BND                 732 non-null    float64
 16  Nr_Transactions     732 non-null    float64
 17  Nr_Addresses        732 non-null    float64
 18  BTC_PageViews       475 non-null    float64
 19  Crypto_PageViews    475 non-null    float64
 20  BTC_Supply          732 non-null    float64
dtypes: float64(21)
memory usage: 125.8 KB

# Separar DFs em periodica e cumulativa

Sim, separar os dados em dois DataFrames (um para as variáveis cumulativas e outro para as variáveis periódicas) pode ser uma abordagem eficiente e organizada. Isso facilita o tratamento específico que cada grupo de variáveis precisa antes de integrá-los novamente para a análise final de regressão.

Aqui está um workflow sugerido:

### Workflow Sugerido:

1. **Separação dos DataFrames:**
   - **DF Cumulative:** Crie um DataFrame com as 15 variáveis acumuladas.
   - **DF Periodic:** Crie um DataFrame com as 5 variáveis periódicas.

2. **Tratamento das Variáveis Cumulativas:**
   - **Transformação Percentual:** Se necessário, transforme as variáveis acumuladas em variações percentuais em relação a um período inicial ou a outro ponto de referência.
   - **Transformação Logarítmica:** Aplique transformações logarítmicas nas variáveis acumuladas, se apropriado, para linearizar relações ou reduzir assimetria.
   - **Verificação de Outliers:** Identifique e trate outliers se necessário, já que os dados transformados podem ainda conter valores extremos que afetam a regressão.
   - **Normalização:** Se for necessário, normalize as variáveis cumulativas para ter uma escala comparável às periódicas.

3. **Tratamento das Variáveis Periódicas:**
   - **Agregação Temporal (se necessário):** Se o contexto permitir, agregue os dados diários em médias, somas ou outras estatísticas que melhor se ajustem à sua análise.
   - **Verificação de Outliers:** Similar ao tratamento das variáveis cumulativas, verifique e trate outliers nas variáveis periódicas.
   - **Normalização:** Normalize as variáveis periódicas para garantir consistência na escala dos dados.

4. **Combinação dos DataFrames:**
   - **Juntar os DataFrames:** Após o tratamento, junte os DataFrames novamente em um único DataFrame.
   - **Checagem Final:** Verifique se todas as variáveis estão corretamente escaladas e que não há problemas de multicolinearidade entre elas.

5. **Análise de Regressão:**
   - **Verificação de Multicolinearidade:** Execute análises de multicolinearidade, como o cálculo do VIF, para garantir que as variáveis não estão altamente correlacionadas.
   - **Modelagem:** Escolha o modelo de regressão apropriado (linear, lasso, ridge, etc.) com base nas características dos dados.
   - **Validação:** Valide o modelo com técnicas de validação cruzada ou utilizando um conjunto de dados de teste separado.

6. **Interpretação dos Resultados:**
   - **Análise dos Coeficientes:** Interprete os coeficientes do modelo para entender a influência de cada variável.
   - **Diagnósticos:** Execute diagnósticos de modelo, como análise dos resíduos, para garantir a adequação do modelo.

### Benefícios Desta Abordagem:
- **Organização:** Separar os DataFrames permite que você trate de forma eficiente e clara as necessidades específicas de cada grupo de variáveis.
- **Flexibilidade:** Facilita o ajuste e transformação de variáveis, permitindo testes e iterações antes da combinação final.
- **Clareza na Análise:** Mantém a análise clara, permitindo identificar rapidamente problemas específicos (como outliers ou multicolinearidade) em cada grupo antes de prosseguir com a análise integrada.

Essa abordagem modular facilita o tratamento adequado dos dados e assegura que as variáveis estejam prontas para uma análise de regressão robusta.

#### Df Periodica

In [ ]:

periodic_df = pd.DataFrame()

periodic_variables = ["USD_OnChain_Volume", "Nr_Transactions", "Nr_Addresses", "BTC_PageViews", "Crypto_PageViews"]

periodic_df = opencsv[["USD_OnChain_Volume", "Nr_Transactions", "Nr_Addresses", "BTC_PageViews", "Crypto_PageViews"]]
periodic_df

,USD_OnChain_Volume,Nr_Transactions,Nr_Addresses,BTC_PageViews,Crypto_PageViews
Date,,,,,
2010-07-30,NaN,325.0,374.0,NaN,NaN
2010-07-31,NaN,295.0,339.0,NaN,NaN
2010-08-01,NaN,364.0,429.0,NaN,NaN
2010-08-02,NaN,398.0,431.0,NaN,NaN
2010-08-03,NaN,648.0,701.0,NaN,NaN
...,...,...,...,...,...
2024-07-27,4.232976e+09,445730.0,508959.0,8248.0,33.0
2024-07-28,2.767697e+09,753703.0,431944.0,8037.0,32.0
2024-07-29,9.902660e+09,826129.0,543529.0,6953.0,56.0
2024-07-30,1.511938e+10,683096.0,500916.0,5587.0,60.0
2024-07-31,9.602772e+09,562819.0,542141.0,4801.0,38.0

In [ ]:
week_periodic_df = periodic_df.resample('W-FRI').sum() # close semanal à sexta feira, soma da semana
week_periodic_df

,USD_OnChain_Volume,Nr_Transactions,Nr_Addresses,BTC_PageViews,Crypto_PageViews
Date,,,,,
2010-07-30,0.000000e+00,325.0,374.0,0.0,0.0
2010-08-06,0.000000e+00,3018.0,3495.0,0.0,0.0
2010-08-13,0.000000e+00,2748.0,3131.0,0.0,0.0
2010-08-20,0.000000e+00,2645.0,2886.0,0.0,0.0
2010-08-27,0.000000e+00,2483.0,2698.0,0.0,0.0
...,...,...,...,...,...
2024-07-05,4.665528e+10,3994401.0,3633064.0,28930.0,193.0
2024-07-12,4.685358e+10,4511007.0,3347222.0,31939.0,202.0
2024-07-19,4.871615e+10,3973575.0,3302251.0,29240.0,256.0
2024-07-26,5.447578e+10,4979176.0,3385551.0,30995.0,266.0
2024-08-02,4.162549e+10,3271477.0,2527489.0,33626.0,219.0

In [ ]:
week_periodic_df

,USD_OnChain_Volume,Nr_Transactions,Nr_Addresses,BTC_PageViews,Crypto_PageViews
Date,,,,,
2010-07-30,0.000000e+00,325.000,374.0,0.0,0.0
2010-08-06,0.000000e+00,3018.000,3495.0,0.0,0.0
2010-08-13,0.000000e+00,2748.000,3131.0,0.0,0.0
2010-08-20,0.000000e+00,2645.000,2886.0,0.0,0.0
2010-08-27,0.000000e+00,2483.000,2698.0,0.0,0.0
...,...,...,...,...,...
2024-07-05,3.829871e+10,3994401.000,3633064.0,28930.0,193.0
2024-07-12,3.829871e+10,4511007.000,3347222.0,31939.0,202.0
2024-07-19,3.829871e+10,3973575.000,3302251.0,29240.0,256.0
2024-07-26,3.829871e+10,4632837.875,3385551.0,30995.0,266.0
2024-08-02,3.829871e+10,3271477.000,2527489.0,33626.0,219.0

In [ ]:
from scipy.stats.mstats import winsorize

winsorized_week_periodic_df = week_periodic_df.apply(lambda col: winsorize(col, (0.05, 0.05)))
winsorized_week_periodic_df

,USD_OnChain_Volume,Nr_Transactions,Nr_Addresses,BTC_PageViews,Crypto_PageViews
Date,,,,,
2010-07-30,4.163393e+05,21779.0,25739.0,0.0,0.0
2010-08-06,4.163393e+05,21779.0,25739.0,0.0,0.0
2010-08-13,4.163393e+05,21779.0,25739.0,0.0,0.0
2010-08-20,4.163393e+05,21779.0,25739.0,0.0,0.0
2010-08-27,4.163393e+05,21779.0,25739.0,0.0,0.0
...,...,...,...,...,...
2024-07-05,3.829871e+10,3295917.0,3633064.0,28930.0,193.0
2024-07-12,3.829871e+10,3295917.0,3347222.0,31939.0,202.0
2024-07-19,3.829871e+10,3295917.0,3302251.0,29240.0,256.0
2024-07-26,3.829871e+10,3295917.0,3385551.0,30995.0,266.0
2024-08-02,3.829871e+10,3271477.0,2527489.0,33626.0,219.0

In [ ]:
week_periodic_df.to_csv(f"weekly_periodic_df.csv", date_format='%Y-%m-%d')

#### Df Cumulativa

In [ ]:
# DF cumulativa

cumulative_df = opencsv.copy()
cumulative_df.drop(columns=["USD_OnChain_Volume", "Nr_Transactions", "Nr_Addresses", "BTC_PageViews", "Crypto_PageViews"], inplace=True)
cumulative_df

,BTC_USD,Mining_Difficulty,M2_Liquidity,EUR_USD,JPY_USD,JPY_EUR,SPY,QQQ,EXSA,JPXN,IWDA,GLD,SLV,TLT,BND,BTC_Supply
Date,,,,,,,,,,,,,,,,
2010-07-30,0.06270,2.442132e+02,NaN,1.303900,0.011569,0.008870,84.992340,40.332348,18.262423,32.519962,19.209999,115.489998,17.580000,68.869255,55.121548,3561700.00
2010-07-31,0.06785,2.442132e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3571850.00
2010-08-01,0.06110,2.442132e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3583800.00
2010-08-02,0.06110,2.442132e+02,8585.3,1.317593,0.011548,0.008760,86.911568,41.089523,18.607929,33.195183,19.500000,115.540001,17.959999,67.902458,55.109386,3595900.00
2010-08-03,0.06000,2.442132e+02,NaN,1.322506,0.011658,0.008810,86.495377,40.913437,18.756001,33.109806,19.450001,115.989998,18.020000,68.294418,55.257935,3607250.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-27,67904.55000,8.204773e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19732050.00
2024-07-28,68252.75000,8.204773e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19732512.50
2024-07-29,66782.78000,8.204773e+13,NaN,1.085376,0.006488,0.005974,544.760010,463.899994,50.910000,73.510002,93.919998,220.320007,25.440001,93.179382,72.807487,19733068.75
2024-07-30,66180.04000,8.204773e+13,NaN,1.081947,0.006501,0.006005,542.000000,457.529999,51.130001,73.500000,93.995003,222.520004,25.830000,93.538193,72.897217,19733537.50
2024-07-31,64617.83000,8.748795e+13,NaN,1.081607,0.006550,0.006054,550.809998,471.070007,51.549999,75.860001,95.389999,226.550003,26.389999,94.494995,73.295998,19733978.13

In [ ]:
week_cumulative_df = cumulative_df.resample('W-FRI').last() # close semanal à sexta feira
week_cumulative_df

,BTC_USD,Mining_Difficulty,M2_Liquidity,EUR_USD,JPY_USD,JPY_EUR,SPY,QQQ,EXSA,JPXN,IWDA,GLD,SLV,TLT,BND,BTC_Supply
Date,,,,,,,,,,,,,,,,
2010-07-30,0.0627,2.442132e+02,NaN,1.303900,0.011569,0.008870,84.992340,40.332348,18.262423,32.519962,19.209999,115.489998,17.580000,68.869255,55.121548,3561700.00
2010-08-06,0.0623,3.521612e+02,8585.3,1.318131,0.011651,0.008840,86.626381,41.168751,18.516254,33.171909,19.184999,117.839996,18.070000,68.830765,55.399757,3637650.00
2010-08-13,0.0645,3.521612e+02,8626.1,1.282989,0.011618,0.009060,83.481644,39.372696,18.290625,31.976667,19.305000,118.739998,17.740000,70.336624,55.541592,3707650.00
2010-08-20,0.0655,5.117735e+02,8631.6,1.280803,0.011717,0.009150,82.880470,39.548763,18.001530,32.240543,19.195000,119.970001,17.590000,72.915215,55.690178,3768900.00
2010-08-27,0.0650,6.233870e+02,8579.8,1.270648,0.011856,0.009330,82.364067,38.800415,17.973328,32.007717,19.049999,121.010002,18.700001,72.440773,55.636154,3839400.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-05,56646.2400,8.008248e+13,20947.5,1.079331,0.006187,0.005730,554.640015,496.160004,51.410000,74.080002,95.334999,220.929993,28.480000,92.252472,72.179413,19721425.00
2024-07-12,57913.6800,7.949520e+13,NaN,1.087276,0.006321,0.005814,559.989990,494.820007,52.160000,75.629997,96.339996,223.110001,28.120001,93.627892,72.757645,19724690.63
2024-07-19,66708.4900,8.204773e+13,NaN,1.090156,0.006363,0.005837,548.989990,475.239990,50.730000,74.550003,94.370003,221.729996,26.690001,92.611282,72.498436,19727990.63
2024-07-26,67925.1700,8.204770e+13,NaN,1.085128,0.006506,0.005995,544.440002,462.970001,51.049999,73.260002,93.745003,220.630005,25.480000,92.681046,72.717766,19731568.75
2024-08-02,64617.8300,8.748795e+13,NaN,1.081607,0.006550,0.006054,550.809998,471.070007,51.549999,75.860001,95.389999,226.550003,26.389999,94.494995,73.295998,19733978.13

In [ ]:
# log df

log_week_cumulative_df = np.log10(week_cumulative_df) # transformacao logaritcmica de todas as colunas
pct_log_week_cumulative_df = log_week_cumulative_df.pct_change()

In [ ]:
pct_log_week_cumulative_df.tail()

,BTC_USD,Mining_Difficulty,M2_Liquidity,EUR_USD,JPY_USD,JPY_EUR,SPY,QQQ,EXSA,JPXN,IWDA,GLD,SLV,TLT,BND,BTC_Supply
Date,,,,,,,,,,,,,,,,
2024-07-05,-0.005715,-1.368981e-03,0.000202,0.115282,0.001141,0.002626,0.003011,0.005666,0.002687,0.005649,0.000334,0.005057,0.021166,0.002579,0.001854,0.000009
2024-07-12,0.002022,-2.299141e-04,0.000000,0.096068,-0.004206,-0.002819,0.001519,-0.000436,0.003676,0.004810,0.002301,0.001819,-0.003798,0.003271,0.001865,0.000010
2024-07-19,0.012892,9.874349e-04,0.000000,0.031618,-0.001316,-0.000767,-0.003135,-0.006508,-0.007030,-0.003325,-0.004523,-0.001147,-0.015643,-0.002405,-0.000832,0.000010
2024-07-26,0.001627,-1.082674e-08,0.000000,-0.053551,-0.004393,-0.005193,-0.001319,-0.004244,0.001601,-0.004049,-0.001461,-0.000921,-0.014126,0.000166,0.000705,0.000011
2024-08-02,-0.004486,2.003858e-03,0.000000,-0.039782,-0.001332,-0.001914,0.001846,0.002826,0.002478,0.008122,0.003831,0.004907,0.010838,0.004280,0.001848,0.000007

90% winsorization means the replacement of the top 5% and bottom 5% of the data. The top 5% of the data is replaced by the value of the data at the 95th percentile and the value of the bottom 5% of the data is replaced by the value of the data at the 5th percentile.

In [ ]:
winsorized_pct_log_week_cumulative_df = pct_log_week_cumulative_df.apply(lambda col: winsorize(col, (0.05, 0.05)))
winsorized_pct_log_week_cumulative_df

,BTC_USD,Mining_Difficulty,M2_Liquidity,EUR_USD,JPY_USD,JPY_EUR,SPY,QQQ,EXSA,JPXN,IWDA,GLD,SLV,TLT,BND,BTC_Supply
Date,,,,,,,,,,,,,,,,
2010-07-30,0.031925,4.608947e-03,0.001023,0.179255,0.004547,0.004797,0.006375,0.008688,0.009831,0.008830,0.009125,0.006709,0.021341,0.007095,0.002126,0.000336
2010-08-06,0.002311,4.608947e-03,0.001023,0.040906,-0.001580,0.000717,0.004287,0.005552,0.004752,0.005701,-0.000441,0.004242,0.009590,-0.000132,0.001256,0.000336
2010-08-13,-0.012502,0.000000e+00,0.000523,-0.097831,0.000630,-0.004543,-0.006050,-0.008036,-0.004201,-0.009755,0.002111,0.001595,-0.006368,0.005114,0.000637,0.000336
2010-08-20,-0.005613,4.608947e-03,0.000070,-0.006842,-0.001912,-0.002101,-0.001633,0.001215,-0.005482,0.002372,-0.001930,0.002157,-0.002953,0.007095,0.000665,0.000336
2010-08-27,0.002811,4.608947e-03,-0.000664,-0.032165,-0.002645,-0.004150,-0.001415,-0.005195,-0.000542,-0.002087,-0.002566,0.001803,0.021341,-0.001522,-0.000241,0.000336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-05,-0.005715,-1.245826e-03,0.000202,0.115282,0.001141,0.002626,0.003011,0.005666,0.002687,0.005649,0.000334,0.005057,0.021166,0.002579,0.001854,0.000019
2024-07-12,0.002022,-2.299141e-04,0.000000,0.096068,-0.004153,-0.002819,0.001519,-0.000436,0.003676,0.004810,0.002301,0.001819,-0.003798,0.003271,0.001865,0.000019
2024-07-19,0.012892,9.874349e-04,0.000000,0.031618,-0.001316,-0.000767,-0.003135,-0.006508,-0.007030,-0.003325,-0.004523,-0.001147,-0.015643,-0.002405,-0.000832,0.000019
2024-07-26,0.001627,-1.082674e-08,0.000000,-0.053551,-0.004153,-0.004543,-0.001319,-0.004244,0.001601,-0.004049,-0.001461,-0.000921,-0.014126,0.000166,0.000705,0.000019
2024-08-02,-0.004486,2.003858e-03,0.000000,-0.039782,-0.001332,-0.001914,0.001846,0.002826,0.002478,0.008122,0.003831,0.004907,0.010838,0.004280,0.001848,0.000019

In [ ]:
pct_log_week_cumulative_df.to_csv(f"weekly_cumulative_df.csv", date_format='%Y-%m-%d')

# Join Clean Dfs

In [3]:
cumulative_df = pd.read_csv("https://raw.githubusercontent.com/notp1ssed/ProjetoFinal-PosGraduacaoEngenhariaFinanceira/main/weekly_cumulative_df.csv", sep=",")
cumulative_df.set_index('Date', inplace=True)
cumulative_df.index = pd.to_datetime(cumulative_df.index)
cumulative_df = cumulative_df.astype(float)

In [4]:
periodic_df = pd.read_csv("https://raw.githubusercontent.com/notp1ssed/ProjetoFinal-PosGraduacaoEngenhariaFinanceira/main/weekly_periodic_df.csv", sep=",")
periodic_df.set_index('Date', inplace=True)
periodic_df.index = pd.to_datetime(periodic_df.index)
periodic_df = periodic_df.astype(float)

In [9]:
full_clean_df = pd.merge(cumulative_df, periodic_df, left_index=True, right_index=True, how='outer')
full_clean_df

,BTC_USD,Mining_Difficulty,M2_Liquidity,EUR_USD,JPY_USD,JPY_EUR,SPY,QQQ,EXSA,JPXN,...,GLD,SLV,TLT,BND,BTC_Supply,USD_OnChain_Volume,Nr_Transactions,Nr_Addresses,BTC_PageViews,Crypto_PageViews
Date,,,,,,,,,,,,,,,,,,,,,
2010-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000e+00,325.000,374.0,0.0,0.0
2010-08-06,0.002311,4.608947e-03,NaN,0.040906,-0.001580,0.000717,0.004287,0.005552,0.004752,0.005701,...,0.004242,0.009590,-0.000132,0.001256,0.000336,0.000000e+00,3018.000,3495.0,0.0,0.0
2010-08-13,-0.012502,0.000000e+00,0.000523,-0.097831,0.000630,-0.005199,-0.007614,-0.011228,-0.004201,-0.010480,...,0.001595,-0.006368,0.005114,0.000637,0.000336,0.000000e+00,2748.000,3131.0,0.0,0.0
2010-08-20,-0.005613,4.608947e-03,0.000070,-0.006842,-0.001912,-0.002101,-0.001633,0.001215,-0.005482,0.002372,...,0.002157,-0.002953,0.008465,0.000665,0.000336,0.000000e+00,2645.000,2886.0,0.0,0.0
2010-08-27,0.002811,4.608947e-03,-0.000664,-0.032165,-0.002645,-0.004150,-0.001415,-0.005195,-0.000542,-0.002087,...,0.001803,0.021341,-0.001522,-0.000241,0.000336,0.000000e+00,2483.000,2698.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-05,-0.005715,-1.368981e-03,0.000202,0.115282,0.001141,0.002626,0.003011,0.005666,0.002687,0.005649,...,0.005057,0.021166,0.002579,0.001854,0.000009,3.829871e+10,3994401.000,3633064.0,28930.0,193.0
2024-07-12,0.002022,-2.299141e-04,0.000000,0.096068,-0.004206,-0.002819,0.001519,-0.000436,0.003676,0.004810,...,0.001819,-0.003798,0.003271,0.001865,0.000010,3.829871e+10,4511007.000,3347222.0,31939.0,202.0
2024-07-19,0.012892,9.874349e-04,0.000000,0.031618,-0.001316,-0.000767,-0.003135,-0.006508,-0.007030,-0.003325,...,-0.001147,-0.015643,-0.002405,-0.000832,0.000010,3.829871e+10,3973575.000,3302251.0,29240.0,256.0
2024-07-26,0.001627,-1.082674e-08,0.000000,-0.053551,-0.004393,-0.005193,-0.001319,-0.004244,0.001601,-0.004049,...,-0.000921,-0.014126,0.000166,0.000705,0.000011,3.829871e+10,4632837.875,3385551.0,30995.0,266.0
2024-08-02,-0.004486,2.003858e-03,0.000000,-0.039782,-0.001332,-0.001914,0.001846,0.002826,0.002478,0.008122,...,0.004907,0.010838,0.004280,0.001848,0.000007,3.829871e+10,3271477.000,2527489.0,33626.0,219.0

In [10]:
full_clean_df.to_csv(f"full_clean_df.csv", date_format='%Y-%m-%d')