In [2]:
# Importacao das libraries
import pandas as pd
import yfinance as yf
import functions as main
import numpy as np

import warnings
warnings.filterwarnings('ignore')

# Download Data

### Preço Bitcoin -> Crypto Compare

In [ ]:
import urllib
import requests

# Load Bitcoin Prices into a dataframe
# Ticker is customizable
ticker = "BTC"
# Cryptocompare URL and fiels
base_url = 'https://min-api.cryptocompare.com/data/histoday'
ticker_field = 'fsym'
field_dict = {'tsym': 'USD','allData': 'true'}
# Convert the field dict into a url encoded string
url_args = "&" + urllib.parse.urlencode(field_dict)
ticker = ticker.upper()
globalURL = (base_url + "?" + ticker_field + "=" + ticker + url_args)

# Request the data
resp = requests.get(url=globalURL)
data = resp.json()
data["Response"]

# Parse the JSON into a Pandas DataFrame
try:
    df = pd.DataFrame.from_dict(data['Data'])
    df = df.rename(columns={'time': 'date'})
    df['date'] = pd.to_datetime(df['date'], unit='s')
    df.set_index('date', inplace=True)
    df_save = df[['close', 'open', 'high', 'low']]
except Exception as e:
    print(e)
    df_save = None

In [ ]:
df.rename(columns={"close":"Bitcoin_USD"}, inplace=True)
df

,high,low,open,volumefrom,volumeto,Bitcoin_USD,conversionType,conversionSymbol
date,,,,,,,,
2010-07-17,0.04951,0.04951,0.04951,20.00,9.902000e-01,0.04951,direct,
2010-07-18,0.08585,0.04951,0.04951,75.01,5.092000e+00,0.08584,direct,
2010-07-19,0.09307,0.07723,0.08584,574.00,4.966000e+01,0.08080,direct,
2010-07-20,0.08181,0.07426,0.08080,262.00,2.059000e+01,0.07474,direct,
2010-07-21,0.07921,0.06634,0.07474,575.00,4.226000e+01,0.07921,direct,
...,...,...,...,...,...,...,...,...
2024-08-04,61075.03000,57174.97000,60679.28000,28092.97,1.665781e+09,58135.89000,direct,
2024-08-05,58275.19000,49202.81000,58135.89000,117153.32,6.220425e+09,54031.82000,direct,
2024-08-06,57077.92000,53987.77000,54031.82000,44255.76,2.473716e+09,56057.67000,direct,
2024-08-07,57753.96000,54580.16000,56057.67000,39691.91,2.232435e+09,55130.45000,direct,
2024-08-08,59877.75000,54751.57000,55130.45000,32892.21,1.903869e+09,59467.24000,direct,

In [ ]:
# Guardar Preços BTC
df.Bitcoin_USD.to_csv(f'BTC_quotes.csv', date_format='%Y-%m-%d')

### Macro Economic Data

In [5]:
tickers = ["EURUSD=X", "JPYUSD=X", "JPYEUR=X", "SPY", "QQQ", "EXSA.DE", "JPXN", "IWDA.AS", "GLD", "SLV", "TLT", "BND"]

# Análise personalizada
start_date = '2009-12-31'
end_date = '2024-08-01'

In [6]:
# Download das cotacoes Yahoo Finance
quotes_mensal = main.download_yahoo_data(tickers, start=start_date, end=end_date)

In [7]:
quotes_mensal

,EURUSD=X,JPYUSD=X,JPYEUR=X,SPY,QQQ,EXSA.DE,JPXN,IWDA.AS,GLD,SLV,TLT,BND
Date,,,,,,,,,,,,
2009-12-31,1.432706,0.010763,0.007510,85.136841,40.081650,NaN,32.661507,18.070000,107.309998,16.540001,60.371155,51.982368
2010-01-01,1.438994,0.010762,0.007470,85.136841,40.081650,NaN,32.661507,18.070000,107.309998,16.540001,60.371155,51.982368
2010-01-04,1.442398,0.010811,0.007500,86.580742,40.668636,18.290625,33.533207,18.240000,109.800003,17.230000,60.317421,52.041924
2010-01-05,1.436596,0.010919,0.007600,86.809929,40.668636,18.304726,33.741486,18.280001,109.699997,17.510000,60.706982,52.194065
2010-01-06,1.440403,0.010828,0.007520,86.871025,40.423336,18.332928,33.934349,18.320000,111.510002,17.860001,59.894314,52.174175
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-25,1.083952,0.006498,0.005991,538.409973,458.269989,50.639999,72.349998,93.559998,218.330002,25.410000,91.963440,72.428650
2024-07-26,1.085128,0.006506,0.005995,544.440002,462.970001,51.049999,73.260002,93.745003,220.630005,25.480000,92.681046,72.717766
2024-07-29,1.085376,0.006488,0.005974,544.760010,463.899994,50.910000,73.510002,93.919998,220.320007,25.440001,93.179382,72.807487
2024-07-30,1.081947,0.006501,0.006005,542.000000,457.529999,51.130001,73.500000,93.995003,222.520004,25.830000,93.538193,72.897217
2024-07-31,1.081607,0.006550,0.006054,550.809998,471.070007,51.549999,75.860001,95.389999,226.550003,26.389999,94.494995,73.295998

In [10]:
# Guardar Dados Yahoo Finance
quotes_mensal.to_csv(f'{tickers}_quotes.csv', date_format='%Y-%m-%d')

### On-Chain Supply and Demand

In [4]:
import requests

# Request the data
resp = requests.get( url= "https://api.blockchain.info/stats")
data = resp.json()
data

# Estas sao as variaveis que consigo extrair da API

{'timestamp': 1719811161000.0,
 'market_price_usd': 63235.23,
 'hash_rate': 8319039700.034728,
 'total_fees_btc': -625000000,
 'n_btc_mined': 625000000,
 'n_tx': 10965,
 'n_blocks_mined': 2,
 'minutes_between_blocks': 2.0,
 'totalbc': 1971897812500000,
 'n_blocks_total': 850073,
 'estimated_transaction_volume_usd': 7740626.819974123,
 'blocks_size': 3288235,
 'miners_revenue_usd': 0.0,
 'nextretarget': 850751,
 'difficulty': 83675262295059,
 'estimated_btc_sent': 12241003662,
 'miners_revenue_btc': 0,
 'total_btc_sent': 101608128522,
 'trade_volume_btc': 3147.87,
 'trade_volume_usd': 199056283.4601}

In [5]:
data["hash_rate"]

8319039700.034728

In [6]:
data["timestamp"]

1719811161000.0

In [3]:
import requests

# Documentacao API
# https://www.blockchain.com/pt/explorer/api/charts_api

# Cryptocompare URL and fiels
base_url = 'https://api.blockchain.info/charts/'


# Nome dos charts no final do link
# https://www.blockchain.com/explorer/charts/difficulty

#charts_list = ["n-transactions", "difficulty", "n-unique-addresses", "estimated-transaction-volume-usd", "total-bitcoins", "market-price"]

for chart in charts_list:
    chartname = chart
    timespan = "all" # (for example '1year', '3months', etc..) Available time units are: minute, hour, day, week and year.
    start = "2010-01-01"
    data_format = "csv"

    # EXAMPLE FULL LINK REQUEST
    # https://api.blockchain.info/charts/transactions-per-second?timespan=5weeks&rollingAverage=8hours&format=json

    # Join URL components
    globalURL = (base_url + chartname + "?timespan=" + timespan + "&start=" + start + "&format=" + data_format + "&sampled=false")

    # Request the data
    response = requests.get(globalURL)

    # Check if the request was successful
    if response.status_code == 200:
        # Save the data to a CSV file
        with open(f'{chartname}.csv', 'wb') as file:
            file.write(response.content)
        print(f"Data saved successfully to '{chartname}.csv'.")
    else:
        print(f"Failed to retrieve data. Status code: {response.status_code}")

Data saved successfully to 'market-price.csv'.

Full Time Series Example : Time Series Talk
https://www.youtube.com/watch?v=tjfqfDAqtR4